<div class="box table-responsive">
	&nbsp;
	<div id="segundo_header">
			<h3>Datos personales</h3>
			<a href="/aplicacion/logout" class="btn btn-info boton_salir" onclick="desconectarSocket()">
				<i class="fas fa-arrow-alt-circle-left"></i> Salir
			</a>
	</div>
	&nbsp;
	<table class="table table-bordered" >
		<thead class="thead-light">
			<tr>
				<th scope="col" class="text-center">Nombre</th>
				<th scope="col" class="text-center">Apellido</th>
				<th scope="col" class="text-center">Tipo documento</th>
				<th scope="col" class="text-center">Documento</th>
				<th scope="col" class="text-center">Pais</th>
				<th scope="col" class="text-center">ciudad</th>				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center"><%= aplicacionHelper.toSentenceCase(info_usuario.nombre) %></td>
				<td class="text-center"><%= aplicacionHelper.toSentenceCase(info_usuario.apellido) %></td>
				<td class="text-center"><%= aplicacionHelper.toSentenceCase(info_usuario.tipo_documento_cliente) %></td>
				<td class="text-center"><%= aplicacionHelper.toSentenceCase(info_usuario.documento) %></td>
				<td class="text-center"><%= aplicacionHelper.toSentenceCase(info_usuario.nombre_pais) %></td>
				<td class="text-center"><%= aplicacionHelper.toSentenceCase(info_usuario.nombre_ciudad) %></td>
			</tr>
		</tbody>
	</table>
	&nbsp;
	<table class="table table-bordered table-hover" >
		<thead class="thead-light">
			<tr>
				<th colspan="2">Telefonos</th>
			</tr>
			<tr>
				<th>Tipo</th>
				<th>Numero</th>
			</tr>
		</thead>
		<tbody>
			<% for(let key in info_usuario.telefonos_cliente) {
					telefono = info_usuario.telefonos_cliente[key]; %>
					<tr>
						<td><%= telefono.tipo_telefono %></td>
						<td><%= telefono.numero_telefonico %></td>
					</tr>
			<% } %>
		</tbody>
	</table>
	&nbsp;
</div>