<div class="box" >
	&nbsp;
	<div id="segundo_header">
			<h3>Tu historial de transacciones</h3>
			<a href="/aplicacion/logout" class="btn btn-info boton_salir" onclick="desconectarSocket()">
				<i class="fas fa-arrow-alt-circle-left"></i> Salir
			</a>
	</div>	
	&nbsp;	
	<div id="historial_transacciones_div">
		<div>
			<% for(let key_c in transacciones_por_cuenta) {
					let title = key_c.split('_');
					let cuenta_id = title[1];
					title = `Cuenta No. ${cuenta_id}`;
					let transacciones = transacciones_por_cuenta[key_c];%>
				&nbsp;
					<div class="table_scrollable_container">
						<table width="100%" class="table table-bordered table_scrollable_header" >
							<thead class="thead-light">
								<tr>
									<th colspan="5"><%= title %></th>
								</tr>
								<tr class="headers">
									<th>Tipo de transaccion</th>
									<th>Fecha de la transaccion</th>
									<th>Monto de la transaccion</th>
									<th>Saldo en la cuenta</th>
									<td class="headerScrollbar" ></td>						
								</tr>
							</thead>
						</table>
						<table width="100%" class="table table_scrollable table-bordered table-hover" style="border-top: 0px;">
							<tbody id="historial_transacciones_cuenta_<%= cuenta_id %>" >
								<% for(let key_t in transacciones) { 
										let transaccion = transacciones[key_t];
										time_wahc = transaccion.fecha;%>
									<tr>
										<td class="text-center">
											<small class="text-muted">
												<%= aplicacionHelper.toSentenceCase(transaccion.tipo_transaccion) %>
											</small>
										</td>
										<td class="text-center">
											<small class="text-muted">
												<%= aplicacionHelper.formatDate(transaccion.fecha, 'yyyy MM dd h:mm:ss') %>
											</small>								
										</td>
										<td class="text-right">
											<small class="text-muted">
												<%= aplicacionHelper.formatCurrency("es-CO", "COP", 2, transaccion.monto) %>
											</small>								
										</td>
										<td class="text-right">
											<small class="text-muted">
												<%= aplicacionHelper.formatCurrency("es-CO", "COP", 2, transaccion.saldo_cuenta) %>
											</small>								
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>						
					</div>				
			<% } %>	
		</div>
	</div>	
</div>
&nbsp;
<script type="text/javascript">
	time_wahc = '<%= time_wahc%>';
</script>
