<div class="box info_cliente">
	&nbsp;	
	<div id="segundo_header">
			<h3>Bienvenido</h3>
			<a href="/aplicacion/logout" class="btn btn-info boton_salir" onclick="desconectarSocket()">
				<i class="fas fa-arrow-alt-circle-left"></i> Salir
			</a>
	</div>
	&nbsp;
	<div>
		<span><%=info_usuario.nombre.toUpperCase()%></span>&nbsp;
		<span><%=info_usuario.apellido.toUpperCase()%></span>			
	</div>
</div>
<br/>
<div class="box cuentas_box table-responsive">
	<h4>Tus productos:</h4>
	<table class="table table-hover table-bordered" width="100%">
		<thead class="thead-light">
			<tr class="cuenta_header">
				<th width="50%" >Numero de cuenta</td>
				<th>Saldo</td>
			</tr>
		</thead>
		<tbody>
			<% for(let key in cuentas) {
					let cuenta = cuentas[key] %>
				<tr>
					<td class="text-right">
						<span><%=cuenta.id%></span>
					</td>
					<td class="text-right">
						<span id="home_saldo_cuenta_<%= cuenta.id %>" class="text-muted" >
							<%=aplicacionHelper.formatCurrency("es-CO", "COP", 2, cuenta.saldo)%>
						</span>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div>