<%- include('../layouts/header') %>
<%
  if (typeof host === "undefined" || host === null) { hotsSocket = '' }else{hotsSocket = host};
  if (typeof port === "undefined" || port === null) { portSocket = '' }else{portSocket = port};
%>
<input type="hidden" id="hotsSocket" name="hotsSocket" value="<%= hotsSocket %>">
<input type="hidden" id="portSocket" name="portSocket" value="<%= portSocket %>">
<script>
  sessionStorage.hotsSocket = document.getElementById('hotsSocket').value;
  sessionStorage.portSocket = document.getElementById('portSocket').value;
</script>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/coneccion_socket_io.js"></script>

<div class="page-header">
	<div class="sucursal_header">
		<div>
			<img class="img_logo_animation" src="/images/logo_bxyz2.png" alt="logo_bxyz">
			<div class="login_title_header">
				<div>&nbsp;</div>
				<h2>BANCO XYZ</h2>
			</div>			
		</div>
		<h3><%=title%></h3>
	</div>
<hr>
</div>
<br/>
<div class="container_sucursal" >
	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#home">Inicio</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#datos_cliente">Tus datos</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#historial_transacciones">Tus transacciones</a>
	  </li>	  	  
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#nueva_transaccion">Nueva transaccion</a>
	  </li>
	  <% if(info_usuario.role == 'admin'){ %>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#nuevo_cliente">Nuevo cliente</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#nueva_cuenta">Nueva cuenta</a>
		  </li>
	  <% } %>
	</ul>


	<div id="contenedor_index" class="tab-content" >

		<div id="home" class="tab-pane fade show active">
			<%- include('../sucursal_virtual/home',{info_usuario:info_usuario, cuentas:cuentas}) %>
		</div>

		<div id="datos_cliente" class="tab-pane fade">
			<%- include('../sucursal_virtual/datos_cliente',{info_usuario:info_usuario}) %>
		</div>

		<div id="historial_transacciones" class="tab-pane fade">
			<%- include('../sucursal_virtual/historial_transacciones',{transacciones_por_cuenta: transacciones_por_cuenta}) %>
		</div>

		<div id="nueva_transaccion" class="tab-pane fade">
			<%- include('../sucursal_virtual/nueva_transaccion',{info_usuario:info_usuario, cuentas:cuentas}) %>
		</div>

		<div id="nuevo_cliente" class="tab-pane fade">
			<%- include('../sucursal_virtual/nuevo_cliente',{paises: paises}) %>
		</div>

		<div id="nueva_cuenta" class="tab-pane fade">
			<%- include('../sucursal_virtual/nueva_cuenta',{info_usuario:info_usuario}) %>
		</div>

	</div>  	
</div>

<%- include('../layouts/footer') %>