<div class="box cliente_box">
	&nbsp;	
	<div id="segundo_header">
			<h3>Crea un nuevo cliente aqui</h3>
			<a href="/aplicacion/logout" class="btn btn-info boton_salir" onclick="desconectarSocket()">
				<i class="fas fa-arrow-alt-circle-left"></i> Salir
			</a>
	</div>
	<br/>
	<div id="formulario_cliente" class="card">
		<div class="card-header">
			<h5 class="align-middle" style="margin:0px;">Nuevo cliente</h5>			
		</div>
		<div class="card-body">
		  <form onsubmit="return nuevoCliente()">
		  	<div class="form-group" style="margin:0px;">
					<table class="table table-borderless" width="100%" style="margin:0px;">
						<tbody>
							<tr>
                <td class="label"><label for="tipo_doc">Tipo de documento:</label></td>
                <td>
								  <select class="form-control" name="tipo_doc" id="tipo_doc_nuevo" required>
								    <option value="CC">Cedula de ciudadania</option>
								    <option value="PA">Pasaporte</option>
								    <option value="CE">Cedula extranjera</option>
								    <option value="RC">Registro civil</option>
								    <option value="NIT">NIT</option>
								  </select>			       
								</td>								
								<td>&nbsp;</td>
								<td class="label"><label for="documento">Documento:</label></td>
								<td><input type="text" class="form-control" name="documento" id="documento_nuevo" required /></td>
							</tr>	
							<tr>
								<td class="label"><label for="documento">Nombre:</label></td>
								<td><input type="text" class="form-control" name="nombre" id="nombre_nuevo" required /></td>
								<td>&nbsp;</td>
								<td class="label"><label for="documento">Apellido:</label></td>
								<td><input type="text" class="form-control" name="apellido" id="apellido_nuevo" required /></td>
							</tr>
							<tr>
                <td class="label"><label for="pais_nuevo">Pais:</label></td>
                <td>
								  <select class="form-control" name="pais_nuevo" id="pais_nuevo" required>
								    <option value=""></option>
								    <% for(let key in paises) {
								    		let pais = paises[key] %>
								    	<option value="<%= pais.id %>"><%= aplicacionHelper.toSentenceCase(pais.nombre_pais) %></option>
								    <% } %>
								  </select>			       
								</td>								
								<td>&nbsp;</td>
								<td class="label"><label for="ciudad_nuevo">Ciudad:</label></td>
								<td>
								  <select class="form-control" name="ciudad_nuevo" id="ciudad_nuevo" required disabled>
								    <option value=""></option>
								  </select>
								</td>
							</tr>
	            <tr>
	               <td class="label"><label for="contraseña">Contraseña:</label></td>
	               <td><input type="password" class="form-control" name="contraseña" id="contraseña_nuevo" required /></td>
	               <td colspan="3" >&nbsp;</td>
	            </tr>
	            <tr>
	            	<td colspan="5"><strong> Telefonos </strong></td>
	            </tr>
	            <tr>
								<td class="label"><label for="tipo_tel">Tipo de telefono:</label></td>
								<td>
								  <select class="form-control" name="tipo_tel" id="tipo_tel_nuevo_1" >
								    <option value="personal">Personal</option>
								    <option value="trabajo">Trabajo</option>
								    <option value="hogar">Hogar</option>
								  </select>
								</td>
	            	<td>&nbsp;</td>
	            	<td class="label"><label for="num_tel">Numero telefono:</label></td>
	            	<td><input type="text" class="form-control" name="num_tel" id="num_tel_nuevo_1" /></td>
	            </tr>
	            <tr>
								<td class="label"><label for="tipo_tel">Tipo de telefono:</label></td>
								<td>
								  <select class="form-control" name="tipo_tel" id="tipo_tel_nuevo_2" >
								    <option value="personal">Personal</option>
								    <option value="trabajo">Trabajo</option>
								    <option value="hogar">Hogar</option>
								  </select>
								</td>
	            	<td>&nbsp;</td>
	            	<td class="label"><label for="num_tel">Numero telefono:</label></td>
	            	<td><input type="text" class="form-control" name="num_tel" id="num_tel_nuevo_2" /></td>
	            </tr>
	            <tr>
								<td class="label"><label for="tipo_tel">Tipo de telefono:</label></td>
								<td>
								  <select class="form-control" name="tipo_tel" id="tipo_tel_nuevo_3" >
								    <option value="personal">Personal</option>
								    <option value="trabajo">Trabajo</option>
								    <option value="hogar">Hogar</option>
								  </select>
								</td>
	            	<td>&nbsp;</td>
	            	<td class="label"><label for="num_tel">Numero telefono:</label></td>
	            	<td><input type="text" class="form-control" name="num_tel" id="num_tel_nuevo_3" /></td>
	            </tr>	                        														
							<tr>
								<td colspan="5" >&nbsp;</td>
							</tr>
							<tr>
								<td colspan="5" align="center">
									<button id="btn_enviar_cliente" type="submit" class="btn btn-secondary btn_enviar" >Enviar</button>
								</td>
							</tr>
						</tbody>
					</table>	  		
		  	</div>
		  </form>			
		</div>		
	</div>
</div>
&nbsp;	