<div class="box transaciones_box">
	&nbsp;	
	<div id="segundo_header">
			<h3>Realiza tus transacciones aqui</h3>
			<a href="/aplicacion/logout" class="btn btn-info boton_salir" onclick="desconectarSocket()">
				<i class="fas fa-arrow-alt-circle-left"></i> Salir
			</a>
	</div>
	<br/>
	<div id="formulario_transaccion" class="card">
		<div class="card-header">
			<h5 class="align-middle" style="margin:0px;">Nueva transaccion</h5>			
		</div>
		<div class="card-body">
		  <form onsubmit="return nuevaTransaccion()">
		  	<div class="form-group" style="margin:0px;">
					<table class="table table-borderless" width="100%" style="margin:0px;">
						<tbody>
							<tr>
								<td><label for="cuenta">Seleccione una cuenta:</label></td>
								<td>
								  <select class="form-control" name="cuenta" id="selector_cuenta" required>
								  	<option value="" selected="selected"></option>
								  	<% for(let key in cuentas) {
												let cuenta = cuentas[key] %>
								  		<option value="<%=cuenta.id%>"><%=cuenta.id%></option>
								  	<% } %>
								  </select>					
								</td>
								<td>&nbsp;</td>
								<td><label for="tipo_transaccion">Tipo de transaccion:</label></td>
								<td>
								  <select class="form-control" name="tipo_transaccion" id="tipo_transaccion" required disabled>
								  	<option value="" selected="selected"></option>
								    <option value="consulta">Consulta saldo</option>
								    <option value="retiro">Retiro cuenta</option>
								    <option value="consignacion">Consignacion cuenta</option>
								  </select>	
								</td>
							</tr>
							<tr>
								<td><label for="monto">Monto transaccion:</label></td>
								<td><input class="form-control" type="number" id="monto" name="monto" disabled></td>
							</tr>
							<tr>
								<td colspan="5" >
									<div id="mensaje_nueva_transaccion" class="alert" role="alert" >&nbsp;</div>
								</td>
							</tr>
							<tr>
								<td colspan="5" align="center">
									<button id="btn_enviar" type="submit" class="btn btn-secondary btn_enviar" disabled>Enviar</button>
								</td>
							</tr>
						</tbody>
					</table>	  		
		  	</div>
		  </form>			
		</div>		
	</div>
</div>
&nbsp;	