<div class="box cuenta_box">
	&nbsp;	
	<div id="segundo_header">
			<h3>Crea una nueva cuenta aqui</h3>
			<a href="/aplicacion/logout" class="btn btn-info boton_salir" onclick="desconectarSocket()">
				<i class="fas fa-arrow-alt-circle-left"></i> Salir
			</a>
	</div>
	<br/>
	<div id="formulario_cliente" class="card">
		<div class="card-header">
			<h5 class="align-middle" style="margin:0px;">Nueva cuenta </h5>			
		</div>
		<div class="card-body">
		  <form onsubmit="return nuevaCuenta()">
		  	<div class="form-group" style="margin:0px;">
					<table class="table table-borderless" width="100%" style="margin:0px;">
						<tbody>
							<tr>
                <td class="label"><label for="tipo_doc">Tipo de documento cliente:</label></td>
                <td>
								  <select class="form-control" name="tipo_doc" id="tipo_doc_cuenta" required>
								    <option value="CC">Cedula de ciudadania</option>
								    <option value="PA">Pasaporte</option>
								    <option value="CE">Cedula extranjera</option>
								    <option value="RC">Registro civil</option>
								    <option value="NIT">NIT</option>
								  </select>			       
								</td>								
								<td>&nbsp;</td>
								<td class="label"><label for="documento">Documento del cliente:</label></td>
								<td><input type="text" class="form-control" name="documento" id="documento_cuenta" required /></td>
							</tr>	
							<tr>
								<td class="label"><label for="documento">Saldo Inicial:</label></td>
								<td><input type="text" class="form-control" name="nombre" id="saldo_cuenta" required /></td>
								<td colspan="3">&nbsp;</td>
							</tr>		
							<tr>
								<td colspan="5" >&nbsp;</td>
							</tr>
							<tr>
								<td colspan="5" align="center">
									<button id="btn_enviar_cuenta" type="submit" class="btn btn-secondary btn_enviar" >Enviar</button>
								</td>
							</tr>
						</tbody>
					</table>	  		
		  	</div>
		  </form>			
		</div>		
	</div>
</div>
&nbsp;	