* {
    box-sizing: border-box;
}

html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

body {
  background: #f8f8ff;
  /*font: 14px/1 Arial, sans-serif;*/
}

.page {
    padding: 50px;
}

.page-data {
    width: 70%;
}
.data-btn {
    padding-bottom:10px;
}

.login_title_header {
  display: inline-flex;
  font-family: 'Aclonica', sans-serif;
  /*font-family: 'Days One', sans-serif;*/
}

.login_title_header h2 {
  animation: 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 normal both running fade-in-right;
}

.sucursal_header img {
  padding: 0 5px;
}

.sucursal_header h3 {
  font-family: 'Rubik', sans-serif;
  animation: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 normal both running fade-in-left;
}

table {
  background: white;
}

.data-table table {
    border-collapse: collapse;
    width: auto;
}

.data-table th, .data-table td {
    border: 1px solid #bbb;
    max-width: 150px;
    padding: 8px 16px;
}

.data-table th {
    background-color: lightgrey;
    border-width: 1px;
}

.data-table td {
    border-width: 1px;
}
/*
input[type=text],textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
}
*/
.label {
    color: #555;
    vertical-align:middle;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 72%;
    flex-direction: column;
}

.container {
    padding: 0;
}

.container_sucursal {
  min-height: 69%;
  padding: 0;
}

.page-header {
  padding: 20px 0;
  background: #333;
  color: whitesmoke;
}

.page-header img {
  padding: 0 5px;
}

.img_logo_animation {
  animation: 1s ease-in-out 0s 1 normal both running rotate-center;
}

hr {
  border: 1px solid #ccc !important
}

.container_header {
    width: 100%;
}

#login_content{
    margin:auto;
    float:none;
    width: auto;
    padding: 10px;
    max-width: 450px;
    min-width: 335px;
    border: 1px solid #ccc;
    background: white;
}

.already-account {
    margin-bottom: 0px;
}

#tipo_doc {
    min-height: 30px;
}

#container_index {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box {
  padding: 5px 50px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_cliente {

}

.cuentas_box table tr td {
  border: 1px solid #ccc;
  padding: 5px;
}

.cuenta_header {
  background: #ccc;
  color: whitesmoke;
}

.transaciones_box {
  flex:1;
}

.historial_transacciones_table_header {
  margin:0px;
}

.historial_transacciones_table tr td {
  border: 1px solid #ccc;
  padding: 5px;
}

#historial_transacciones {
  min-height: 35px;
}

#selector_cuenta {
  min-height: 30px;
  min-width: 175px;
}

#tipo_transaccion {
  min-height: 30px;  
}

#segundo_header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;  
}

#segundo_header h3 {
  animation: 1s linear 0s 1 normal both running text-shadow-drop-center;
}

.nav-tabs {
  margin: 0 5px;
}

.boton_salir {
  margin: 5px;
  min-width: 70px;
}

.sucursal_header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;  
}

.sucursal_header h3 {
  margin: 15px;
}

.container_sucursal .nav-tabs a {
  color: #17a2b8;
}

.page-footer {
  background: #333;
  color: whitesmoke;
}

.login_title {
  color: #17a2b8;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
}

.login_title h5 {
  animation: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running focus-in-expand,
             1s linear 0s 1 normal both running text-shadow-drop-center;
}

.btn_enviar {
  width: 150px;
}

table.table_scrollable {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.table_scrollable_header {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.headerScrollbar {
  padding: 0 !important;
  margin: 0;
  width: 17px;
  display: none;
  background-color: #e9ecef;
  border-color: #dee2e6;  
}

button {
  animation: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running focus-in-expand-fwd;
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.focus-in-expand-fwd {
  -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rotate-center {
  -webkit-animation: rotate-center 1s ease-in-out both;
          animation: rotate-center 1s ease-in-out both;
}

.text-shadow-drop-center {
  -webkit-animation: text-shadow-drop-center 0.6s both;
          animation: text-shadow-drop-center 0.6s both;
}

.fade-in-right {
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}