<%- include('layouts/header') %>

<div class="page-header">
	<img class="img_logo_animation" src="/images/logo_bxyz2.png" alt="logo_bxyz">
	<div class="login_title_header">
		<div>&nbsp;</div>
		<h2><%=title%></h2>
	</div>
	<hr>
</div>
<div id="content" >
	<div class="container">
		<div class="row">
			<div id="login_content" >
				<center>
					<div class="panel-body">
				    <form method="post" action="/aplicacion/login" onsubmit="btnInicioSesion();">
				    	<div class="form-group">
				        <table class="table table-borderless" cellpadding="11">
				        		<tr>
				        			<td class="login_title text-center" colspan="2">
				        				<h5>INICIAR SESION</h5>
				        			</td>
				        		</tr>
				            <tr>
			                <td class="label"><label for="tipo_doc">Tipo de documento:</label></td>
			                <td>
											  <select class="form-control" name="tipo_doc" id="tipo_doc" required>
											    <option value="CC">Cedula de ciudadania</option>
											    <option value="PA">Pasaporte</option>
											    <option value="CE">Cedula extranjera</option>
											    <option value="RC">Registro civil</option>
											    <option value="NIT">NIT</option>
											  </select>			       
											</td>      
				            </tr>
				            <tr>
				               <td class="label"><label for="documento">Documento:</label></td>
				               <td><input type="text" class="form-control" name="documento" id="documento" required /></td>
				            </tr>
				            <tr>
				               <td class="label"><label for="contraseña">Contraseña:</label></td>
				               <td><input type="password" class="form-control" name="contraseña" id="contraseña" required /></td>
				            </tr>
				            <tr>
			                <td colspan="2" align="center">
			                  <button type="submit" id="btnEntrar" style="min-width:100%">
			                  	Entrar
			                	</button>
			                </td>
				            </tr>
				        </table>				    		
				    	</div>
				    </form>					
					</div>
				</center>				
			</div>
		</div>
	</div>
</div>

<!-- trigger modal -->
<% if (show_error == 'true') { %>
<script type="text/javascript">
	$('#modal_flash').modal('show');
</script>	
<% } %>

<%- include('layouts/footer') %>