	<footer class="page-footer font-small">

	  <div class="footer-copyright text-center py-3">
	  	<div><small>Politecnico Grancolombiano | Modulo de persistencia y datos transaccionales</small></div>
	  	<div></div>
	  	<div><small>William Huertas | Jorge Rodriguez</small></div>
	  </div>
	</footer>
</body>
</html>
